{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 98%; 
}
header{
    background-color: #333;
    color: white;
    padding: 24px;
}
header h1{
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover
{
    text-decoration: underline;
}
/* ---------------------header-ended------------- */
.section1 
{
    background-color: aliceblue;
    padding: 50px;
}
.section1 h2
{
    text-align: center;
}
.project-list 
{
    display: flex;
    justify-content: space-evenly;
}
.project{
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px; 
    box-shadow: ;
    margin-bottom: 20px;
    width: 20%;
    margin: 50px;

}
.parent {
    background-color: yellow;
    display: flex;
    position: relative;
    width: 500px;
    height: 500px;
}
.child{
    background-color: pink;
    display: flex;
    position: absolute;
   border-radius: 50px;
   top: -20px;
   
}
/*--------------section1-ended-------------*/



.section2
{
    text-align:center;
    background-color:#333;
    padding:50px;
    color:white;


}
.section2 h3
{text-align:center;

}
.form
{

    display: flex;
    flex-direction:column;
align-items:center;
padding: 50px;
}
form input,
form textarea
{
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

form button
{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor:pointer
}
form button:hover
{
    background-color: #0056b3;
}
/*--------------- section2-ended-----------------*/
footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0px;
}
